<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title><%= title %></title>
  </head>
  <body>
    <div class="d-flex vh-100">
      <%- include('./partials/nav'); %>
      <main class="container text-center p-4">
        <form class="d-flex flex-column form-width">
          <div class="mb-3 w-100">
            <label for="name">Character Name:</label>
            <input type="text" id="name" name="name" required="true" minlength="1" maxlength="25">
          </div>

          <div class="mb-3 w-100">
            <label for="name">Character Title:</label>
            <input type="text" id="title" name="title" required="true" minlength="1" maxlength="50">
          </div>

          <div class="mb-3 w-100">
            <label for="vision">Vision:</label>
            <select class="form-select form-select-sm" id="vision" name="vision" required="true">
            <% visions.forEach((vision) => { %>
                <% console.log(vision.name) %>
                <option value="<%= vision.name %>"><%= vision.name %></option>
            <% }); %>
            </select>
          </div>

          <div class="mb-3 w-100">
            <label for="weapon">Weapon:</label>
            <select class="form-select form-select-sm" id="weapon" name="weapon" required="true">
            <% weapons.forEach((weapon) => { %>
                <% console.log(weapon.name) %>
                <option value="<%= weapon.name %>"><%= weapon.name %></option>
            <% }); %>
            </select>
          </div>

          <div class="mb-3 w-100">
            <label for="role">Role:</label>
            <select class="form-select form-select-sm" id="role" name="role" required="true">
            <% roles.forEach((role) => { %>
                <% console.log(role.name) %>
                <option value="<%= role.name %>"><%= role.name %></option>
            <% }); %>
            </select>
          </div>

          <div class="mb-3 w-100">
            <label for="rating">Rating: <span id="rating-value">0</span></label>
            <input value="0" type="range" class="form-range" id="rating" 
              onInput="document.getElementById('rating-value').textContent = document.getElementById('rating').value" 
              name="rating" required="true" min="0" step="0.1" max="5">
          </div>

          <div class="mb-3 w-100">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required="true" min="1" max="7">
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <% if (errors) { %>
          <ul class="list-group form-width">
            <% errors.forEach((error) => { %>
              <li class="list-group-item list-group-item-danger"><%= error.msg %></li>
            <% }) %>
          </ul>
        <% }; %>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>